.greeting {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .circle-image {
    flex: 0 0 auto;
  }

  .section-title {
    position: relative;
    text-align: center;
    margin-top: 4rem;

    @media (min-width: 768px) {
      margin: 0 0 0 4rem;
      top: 0.5rem;
      text-align: left;
    }
  }
}
