@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.field-input {
  background-color: $color-dark-lighter;
  height: 5rem;
  border-radius: 2.5rem;
  padding: 0 2rem 0 1rem;
  display: flex;
  align-items: center;
  border: 2px solid $color-dark-lighter;
  @include transition(border-color 0.4s ease);

  [class*=" fa"] {
    flex-shrink: 0;
    margin-left: 1rem;
    @include transition(color 0.4s ease);
  }

  input {
    border: none;
    background: none;
    color: $color-secondary;
    flex-grow: 1;
    margin-left: 1rem;
    position: relative;
    top: -1px;
    @include transition(color 0.4s ease);
  }

  &.field-focused {
    border-color: $color-alternative;

    [class*=" fa"] {
      color: $color-alternative;
    }

    input {
      color: $color-alternative;
    }
  }
}
