@import "./variables";

// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// View Section
@mixin view-section() {
  padding: 12rem 3rem 6rem;

  @media (min-width: 768px) {
    padding: 12rem 8rem 6rem;
  }
}

// Gradients
@mixin gradient($variant: "primary") {
  @if $variant == "primary" {
    background: $color-primary;
    background: linear-gradient(
      180deg,
      $color-primary 0%,
      $color-alternative 100%
    );
  }
  @if $variant == "secondary" {
    background: $color-primary;
    background: linear-gradient(
      90deg,
      $color-primary-light 0%,
      $color-primary 100%
    );
  }
}
