// Colors
$color-primary: #3366ff;
$color-alternative: #00cc99;
$color-secondary: #999;
$color-dark: #222;
$color-dark-lighter: #454545;
$color-absence: #fff;
$color-full: #000;
$color-error: #ed4337;
$color-success: limegreen;

// Text Sizes
$text-smaller: 1.2rem;
$text-small: 1.4rem;
$text-regular: 1.6rem;
$text-big: 1.8rem;
$text-bigger: 2.1rem;

// Text Weight
$text-weight-regular: 400; // Only set for Anonymous Pro
$text-weight-semi-bold: 600; // Only set for Poppins
$text-weight-bold: 700; // Only set for Anonymous Pro

// Font Families
$font-primary: "Anonymous Pro", monospace;
$font-secondary: "Poppins", sans-serif;
