@import "../../assets/scss/variables";

.project {
  display: block;

  article {
    padding: 0 1.2rem;
    height: 9.4rem;
    background-color: $color-dark-lighter;
    border-radius: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    figure {
      flex-shrink: 0;
    }

    .project-title {
      flex-grow: 1;
      margin: 0 2rem;
      line-height: 1.5;
      font-size: $text-smaller;

      @media (min-width: 576px) {
        font-size: $text-small;
      }
    }

    .chip {
      margin-right: 1rem;
    }
  }
}
