@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.nav-main-toggler {
  width: 2rem;
  position: relative;
  cursor: pointer;
  align-self: stretch;

  @media (min-width: 992px) {
    display: none;
  }

  span {
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: $color-primary;
    top: 50%;
    margin-top: -2px;
    @include transition(all 0.3s ease);

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 8px;
    }

    &:nth-child(3) {
      left: 16px;
    }
  }

  &.variant-close {
    span:nth-child(1) {
      width: 100%;
      transform: rotate(45deg);
    }

    span:nth-child(2) {
      left: 0;
      width: 100%;
      transform: rotate(-45deg);
    }

    span:nth-child(3) {
      left: 50%;
      margin-left: -2px;
    }
  }
}
